body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: dodgerblue;
}
header {
  text-align: center;
  color: white;
}
section {
  width: 600px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
}
div {
  text-align: center;
}
#txt {
  font-size: 2em;
  margin-bottom: 30px;
  padding: 15px;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
}
footer {
  color: white;
  text-align: center;
}
