body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: dodgerblue;
}
header,footer{
    font-size: 1.3em;
    text-align: center;
}
#dados{
    margin-bottom: 20px;
}
section{
    width: 700px;
    margin: auto;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.329);
}